html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Landing page */

/* if vs code shows warning , go to setting -> CSS> Lint:Unknown At Rules -> select ignore */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply p-0 m-0 max-h-fit font-serif text-gray-900 bg-gray-100 z-50;
  }
}

@layer components {
  /* header */
  .header {
    @apply h-[10vh] flex items-center px-10 py-4 md:px-20 text-lg justify-between z-50;
  }

  .header > ul {
    @apply justify-center flex-1 hidden space-x-5 md:flex z-50;
  }

  /* text container */

  .textContainer {
    @apply flex flex-col h-full px-3 py-28 mt-12 md:px-52 z-40;
  }
  .textContainer-top {
    @apply flex pl-24 pt-16 items-center justify-between text-lg md:text-5xl font-bold tracking-wider z-40;
  }
  .textContainer-middle {
    @apply grid flex-1 place-items-center z-40;
  }
  .textContainer-middle > span {
    @apply text-5xl font-black tracking-wider md:text-9xl z-40;
  }
  .textContainer-bottom {
    @apply flex pb-24 mt-8 items-center justify-between text-stone-900 font-serif z-40;
  }
  .textContainer-bottom > span {
    @apply text-sm text-purple-600 font-bold md:text-3xl z-40;
  }
  .textContainer-bottom > p {
    @apply text-sm font-bold md:text-5xl z-40;
  }
  .textContainer-bottom > p > span {
    @apply text-green-400 z-40;
  }

  /* image :: */
  .imageWrapper {
    @apply absolute top-0 left-0 grid w-full mt-8;
  }
  .imageLandingPage {
    @apply h-[600px] w-[650px] md:h-[600px] md:w-[600px] object-contain ml-[40rem] pb-[7rem] mt-20;
  }
  .imageLandingPage1 {
    @apply h-[600px] w-[650px] md:h-[350px] md:w-[600px] object-contain ml-52 mt-60;
  }
}

/* end of landing page */
